.profile-card {
  width: 250px;
  border-radius: 10px;
  margin: 10px;
  background-color: #fffeff;
  box-shadow: 0 0 10px 2px;
  border: 2px solid greenyellow;

  // width: 250px;
  
  // margin: 10px;
  // background-color: #fffeff;
  // border-style:  solid;
  // border-width: 3px;
  // box-shadow: 10px -10px;
  // border: 2px solid greenyellow;
  

  
}

.profile-card__content{
  border: 2px solid purple;

}

.profile-card__image {
  height: 200px;
  width: auto;
  padding: 20px;
  margin: 15px;
}