@import url('https://fonts.googleapis.com/css2?family=Molle&display=swap');

.nav-menu {
width: 150px;
}

.search__filters:hover {
  cursor: pointer;
  background-color: #e7646a;
}

p {
  font-family: 'Molle', cursive;
}

// @media screen and (min-width: 300px) {
//   .nav-menu {
//     display: flex;
//     flex-direction: column;
  
//   }
// }