.App {
  text-align: center;
  
}

.all-cards {
  border: 2px solid blue;
  display: flex;

  
}

.nav-bar {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  width: 400px;
  padding: 10px;
}

.header-content {
  border: 2px solid pink;
}



