.App {
  border: 2px solid red;
  text-align: center;
  height: 100%;
  width: 100%;
  

  
  
  
}

.all-cards {
  border: 2px solid blue;
  display: flex;

  
}

.nav-bar {
  border: 2px dotted red;
  display: flex;
  justify-content: center;
  width: 450px;
  padding: 10px;
}

.header-content {
  border: 2px solid pink;
}



